<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Anomaly Detection</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrapper">
        <header>
            <h2 id="logo">LK</h2>
            <nav>
                <ul>
                    <li><a onclick="location.href='Streaming'">STREAMING</a></li>
                    <li><a onclick="location.href='FileUpload'">IMAGE&VIDEO</a></li>
                </ul>
            </nav>
        </header>
            
        <div id="content1">
            <div id="headerimg">
            </div>
            <article>
            <h2 id="nametext">Anomaly Detection</h2>
            <p>이상행동 탐지 서비스</p>
            </article>
        </div>
        
        <div id="content2" class="clearfix">      
            <div id="section2A" onclick="location.href='Streaming'">
                <div id="img2A">
                </div>
                <article id="article2A">
                    <h2 id="header2A">실시간 스트리밍</h2>
                    <p>실시간 스트리밍</p>
                </article>
            </div>
            
            <div id="section2B" onclick="location.href='FileUpload'">
                <div id="img2B">
                </div>
                <article id="article2B">
                    <h2 id="header2B">이미지, 영상으로 찾기</h2>
                    <p>이미지, 영상으로 찾기</p>
                </article>
            </div>        
        </div>    
        <footer>
            <a href="https://github.com/dltmdgml/capstone-design"><p id="git">Github</p></a>
        </footer>       
    </div>
</body>
</html>
