<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Video Streaming</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrapper">
        <header>
            <h2 id="logo">LK</h2>
            <nav>
                <ul>
                    <li><a onclick="location.href='FileUpload'">IMAGE&VIDEO</a></li>
                    <li><a onclick="location.href='/'">MAIN</a></li>
                </ul>
            </nav>
        </header>
            
        <div id="content1">
            <article>
            <h2 id="nametext">Real Time Video Streaming</h2>
            <p> 실시간으로 이상행동을 감지합니다. </p>
            </article>
            <div>
                <img id="webcam" src="{{url_for('video_feed')}}">
            </div>
        </div>  

        <footer>
        </footer>       
    </div>
</body>
</html>
